.p-menubar{
    justify-content: center;
}

.nnavbar{
    z-index: 12;
    background: none;
    color: black;
    font-weight: bolder;
    position: sticky;
    top: 0;
}

.hiddenItem{
    display: none;
}
.showItem{
    display: block;
}