

.addProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin: 2%;
    &__edit{
        display: flex;
    flex-direction: column;
    justify-content: center;
    }
    ::placeholder{
        text-align: center;
        align-items: center;
    }
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
label{
    font-size: 20px;
    margin: 2px;
}
