

.header__sup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: x-large;
    margin-top: -2.5%;
}
.header__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
