@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}




.footer-distributed{
	// position: absolute;
	// bottom: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    opacity: 50%;
    padding: 20px 10px;
    width: 100%;
	
    
}

 .footer-left{
	display: inline-block;
	vertical-align: top;
    width: 40%;
}


.footer-distributed h3{
	color:  #271927;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}



.footer-distributed .footer-year{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-rrss{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.footer-help{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	p{
		margin-right: 10px;
	}
}

.icon{
	

	width: 22px;
	height: 22px;
	margin-left: 10px;
	margin-top: 10px;
	color: lightseagreen;

}




@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
